node_modules/
.expo/
dist/
.env
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/

# VS code
.vscode/

# Some folder %ProgramData%
%ProgramData%/

# macOS
.DS_Store

# environment variables
env.js